<div class="header">
    <h1>Dashboard settings</h1>
    <div class="close"></div>
</div>

<div class="form">

	<% console.log(color) %>

	<div class="field">
		<label for="name">Name</label>
		<input type="text" name="name" value="<%= title %>" />
	</div>

	<div class="field">
		<label for="colors">Colour</label>
		<ul class="colors">
			<% _.each(colors, function (col) { %>
				<li class="<%= color === col ? 'selected': '' %>" data-color="<%= col %>" style="background-color: <%= col %>"><span></span></li>
			<% }) %>
		</ul>
	</div>

	<div class="btn blue" style="margin-top:20px;margin-bottom:70px;">Update settings</div>
	<div class="deleteTile">
		<div class="btn red delete">Delete</div>
	</div>
</div>