<div class="header">
    <h1>Dashboard settings</h1>
    <div class="share"></div>
    <div class="close"></div>
</div>

<div class="form">

	<div class="field shared loading" style="display: none">
		<div class="globe"></div>
		<!-- <input type="text" style="display: none" name="url" id="url" /> -->
		<input type="text" name="url" id="url" />
	</div>

	<div class="field">
		<label for="name">Name</label>
		<input type="text" name="name" value="<%= title %>" />
	</div>

	<div class="field">
		<label for="colors">Colour</label>
		<ul class="colors">
			<% _.each(colors, function (col) { %>
				<li class="<%= color === col ? 'selected': '' %>">
					<p class="<%= color === col ? 'selected': '' %>" data-color="<%= col %>" style="background-color: <%= col %>"><span></span></p>
				</li>
			<% }) %>
		</ul>
	</div>

	<div class="field">
		<label for="time-range">Time Range</label>
		<div id="barchart"></div>
		<div id="slider"></div>
		<div id="time"></div>
	</div>

	<div class="btn blue" style="margin-top:20px;">Update settings</div>

	<div class="delete"><span>Delete</span></div>

</div>