!!!5
html

    title Arrow - the next generation

    script(data-main="/scripts/arrow", src="/scripts/libraries/require/require.js")

    // styles
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css')
    link(href="/styles/style.css", rel="stylesheet", type="text/css")
    link(href="/scripts/libraries/chosen/chosen.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", type="text/css", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/dot-luv/jquery-ui.css")



body
    #arrow

        header
            div.inner
                h1
                    | Arrow
                    span  - Visualise All The Things

        aside
            h1 Data Sources
            ul#datasourcelist

            div#addDataSource
                span
                | Add datasource


            h1 Dashboards
            ul#dashboardlist
            div#newdashboard(style="display:none")

                input(type="text", placeholder="Dashboard name (&crarr;)")
            div#createdashboard
                span
                | New dashboard

        content