<div class="flipper" style="height:<%= height %>px; width:<%= width %>px;">
	<!-- front -->
	<div class="front pane" style="height:<%= height %>px; width:<%= width %>px;">
		<div class="header">
			<span class="title"><%= title %></span>
			<div class="settings"></div>
		</div>
		<div class="chart">
		</div>
	</div>

	<!-- back -->
	<div class="back pane" style="height:<%= height %>px; width:<%= width %>px;">

		<!-- basic -->
		<div class="header">
			<span>Visualization settings</span>
			<div class="return"></div>
		</div>
		<div class="body">
			<div class="field">
				<label for="name">Name</label>
				<input type="text" class="element" name="name" value="<%= title %>" />
			</div><!--/.field-->
			<div class="left" style="width: 50%; -webkit-box-sizing: border-box; padding-right: 10px;">
				<div class="btn save blue">Update</div>
			</div>
			<div class="right" style="width: 50%; -webkit-box-sizing: border-box; padding-left: 10px;">
				<div class="btn grey advanced">Advanced</div>
			</div>
		</div>

		<div class="deleteTile">
			<div class="btn red delete">Delete</div>
		</div>

		<div class="drag"></div>
	</div>
</div>
