<div class="header">
    <!-- <h1 class="glyph new-vis"></h1> -->
    <h1>New Visualisation</h1>
    <div class="close"></div>
</div>

<div class="form">

    <div class="field">
        <label for="userName">Name</label>
        <input type="text" class="element" name="userName" value="<%= userName %>" />
    </div><!--/.field-->

    <!-- template for each select - wrap in the 'field' markup for spacing consistency -->
    <div class="field">
        <label for="">Visualisation method</label>
        <select class="chosen" data-placeholder="Choose Visualization" name="visualization" style="width: 200px;">
            <option></option>
            <% _.each(visualizations, function (v) { %>
                <option value="<%= v.prototype.defaults.name %>" <%= visualization === v.prototype.defaults.name ? 'selected="selected"' : '' %>>
                    <%= v.prototype.defaults.niceName %>
                </option>
            <% }) %>
        </select>
    </div><!--/.field-->

    <div class="field">
        <label for="">Data Source</label>
        <select class="chosen" data-placeholder="Choose DataSource" name="datasource" style="width: 200px;">
            <option></option>
            <% datasources.each(function (ds) { %>
                <option value="<%= ds.attributes.id %>" <%= ds.attributes.id === datasource ? 'selected="selected"' : '' %>>
                    <%= ds.attributes.niceName %>
                </option>
            <% }) %>
        </select>
    </div><!--/.field-->

    <div class="varea"></div>
    <div class="btn blue">Create visualisation</div>
</div>