<div class="header">
    <h1>Data Sources</h1>
    <div class="close"></div>
</div>

<div class="editDataSource">

    <div class="form">

        <div class="field">
            <label>Name</label>
            <select id="choosetype" data-placeholder="Choose DataSource Type ...." style="width:320px;">
                <option></option>
                <% _.each(datasources, function (ds) { %>
                    <option value="<%= ds.prototype.defaults.name %>" <%= datasource && ds.prototype.defaults.name === datasource.get('name') ? 'selected="selected"' : '' %>>
                        <%= ds.prototype.defaults.name %>
                    </option>
                <% }); %>
            </select>
        </div><!--/.field-->

        <% _.each(datasources, function (ds) { %>
            <div class="type <%= ds.prototype.defaults.name %>" <%= datasource && ds.prototype.defaults.name === datasource.get('name') ? '' : 'style="display:none"' %>>
                <%
                    for (field in ds.prototype.defaults) {
                        if (ds.prototype.defaults.hasOwnProperty(field)) {
                            if (field !== 'name') {
                                %>
                                <div class="field">
                                    <label for="<%= field %>"><%= field %></label>
                                    <input type="text" class="element" value="<%= datasource ? datasource.get(field) : '' %>" placeholder="<% print(field.slice(0, 1).toUpperCase() + field.slice(1)) %>" name="<%= field %>" />
                                </div>
                                <%
                            }
                        }
                    }
                %>
            </div>
        <% }) %>

        <input type="hidden" value="<%= datasource ? datasource.get('id') : '' %>" name="id" />

        <div class="btn blue save" style="margin-top:10px;">Save</div>
    </div>
</div>