body { padding: 0; margin: 0; }

.left { float: left; }
.right { float: right; }

/* Typography */
body { font-family: 'Open Sans', sans-serif; font-size: 12px; }
h1 {font-size:14px;font-weight:600;}
p {margin:0 0 20px 0;}
input {margin-top:0;}
/* Header */
header { background: #313841; height: 60px; position: absolute; width: 100%; z-index: 2; }
header h1 { display:block;width: 210px;height: 43px;background:url(/images/logo.png) no-repeat; position: absolute;left:50%;margin-left:-105px;overflow:hidden;text-indent: -100%;}

header .inner {position:relative;overflow:hidden;height:60px;}
header .inner .options {position:absolute;right:10px;top:8px;}
header .options .btn {float:left;padding:0 20px;}
header .options #share {margin-left:10px;}

/* Sidebar */
aside { background: #F4F4F4; bottom: 0; left: 0; padding-top: 60px; position: fixed; top: 0; width: 200px; z-index: 1; }

aside .btn { margin-left: 20px; width: 160px; margin-top:20px; }

#dashboardlist { list-style: none; margin: 0; padding: 0; }
#dashboardlist li { background: #515f6f; color: #FFFFFF; cursor: pointer; padding: 20px; font-weight: 600; margin-bottom:1px; position: relative; -webkit-transition:all 300ms ease; }
#dashboardlist li.selected { background: #FFF; color: #515f6f; padding-left: 36px; }
#dashboardlist li:hover { background: #313841; }
#dashboardlist li.selected:hover { background: #FFF; }
#dashboardlist li .del { display:none; width: 16px; height: 16px; background: url(/images/dashboard-list-del.png) no-repeat top; position: absolute; left: -10px; top:50%; margin-top: -8px; text-indent: 100%; }
#dashboardlist li .del:hover { background: url(/images/dashboard-list-del.png) no-repeat bottom; }
#dashboardlist li.selected .del { display: block; left:10px; }
#settings {position:absolute;bottom:14px;}
/*#settings { background: #313841; bottom: 0; height: 60px; left: 0; position: absolute; right: 0; }*/
/*#settings #preferences { background: url('/images/sprite.png') no-repeat -80px 0; height: 20px; margin: 20px 90px; width: 20px; }*/
/*#settings #preferences:hover { background-position: -80px -20px; cursor: pointer; }*/
/*#settings #preferences { background: url('/images/sprite.png') no-repeat -80px 0; height: 20px; margin: 20px 90px; width: 20px; }*/

#newdashboard { background: #747f8c; padding: 20px; }
#newdashboard input { border: none; background: #747f8c; color: #FFF; margin: 0; width: 100% font-family: inherit; font-size:inherit; padding:0; width: 100%; }

/* Content */
content { float: left; margin: 60px 0 0 200px; padding: 10px; }

/* Charts */
.vis { height: 300px; float: left; margin: 10px; width: 300px; }
.vis .header { height: 30px; padding: 5px 0 5px 10px; line-height: 30px; position: relative;background:#1c242b;}
.vis .header span { color: #FFFFFF; font-size: 14px; font-weight: 600; }
.vis .header .settings,
.vis .header .return { background: url('/images/sprite.png') no-repeat 0 0; cursor: pointer; float: right; display:block; height: 20px; width: 20px; position:absolute; top:10px; right: 10px; }
.vis .header .settings:hover { background-position: 0 -20px; }
.vis .header .return { background-position: 0 -80px; }
.vis .header .return:hover { background-position: 0 -100px; }
.vis .body { padding: 20px; }

/* flipping effect - horizontal flip */
.vis { -webkit-perspective: 1000; }
.vis .flipper { position: relative; -webkit-transition: 0.6s; -webkit-transform-style: preserve-3d; }
.vis .front, .vis .back { left: 0; position: absolute; top: 0; -webkit-backface-visibility: hidden; background: #313841; border-radius: 5px; height: 300px; width: 300px; }
.vis .front { z-index: 2; }
.vis .back { -webkit-transform: rotateY(180deg); }
.vis.flipped .flipper { -webkit-transform: rotateY(180deg); }
.drag { height: 15px; width: 15px; background: url('/images/sprite.png') no-repeat 0 -380px; position: absolute; bottom: 12px; right: 12px; cursor:move; }
.drag:focus { cursor:move; }
.fakevis { position: absolute; background: #e5f7fb; border: 2px dashed #313841; }

/* Flipping effect - vertical flip */
.vis.landscape .back { -webkit-transform: rotateX(180deg); }
.vis.landscape.flipped .flipper { -webkit-transform: rotateX(180deg); }

/* Add Vis */
.add.vis { background: #e5f7fb; border: 2px dashed #313841; border-radius: 5px; cursor: pointer; }
.add.vis span { background: url('/images/sprite.png') no-repeat 0 -120px; display: block; height: 40px; margin: 130px 0 0 130px; width: 40px; }
.add:hover.vis span { background-position: 0 -160px; }

/* Form */
.element { border: 2px solid #515f6f; border-radius: 2px; box-sizing: border-box; color: #FFFFFF; width: 100%; padding: 0 10px 0 30px; line-height: 28px; font-size: 12px; font-weight: 600; margin-bottom: 10px; }
.element:focus { border: 2px solid #8091a3; }

input[type="text"] { background: #313841 url('/images/sprite.png') no-repeat 5px -46px; outline: none; }
input[type="text"]::-webkit-input-placeholder { font-style: italic; font-weight: 300; }
input[type="text"].error { border-color: #895099; }

.select { height: 30px; }

/*.btn { border: 1px solid #1a2127; border-radius: 3px; color: #FFFFFF; height: 40px;  -webkit-box-sizing: border-box; -webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,0.2); text-align: center; line-height: 40px; font-size: 14px; font-weight: 600; cursor: pointer; }*/
.btn {position: relative; border-radius: 4px; color: #FFFFFF; height: 40px;  -webkit-box-sizing: border-box; text-align: center; line-height: 40px; font-weight: 600; cursor: pointer;-webkit-transition:background 300ms ease; }
.btn:hover {cursor:pointer;}
.btn.blue { background-color: #00afd4; -webkit-box-shadow:  0 4px 0 0 #009abb;}
	.btn.blue:hover {background:-color#19b6d8;}
	.btn.blue:active {-webkit-box-shadow:  0 2px 0 0 #009abb;top:2px;}
.btn.grey { background-color: #515f6f; -webkit-box-shadow:0 4px 0 0 #394756;}
	.btn.grey:hover {background-color:#626f7d;}
	.btn.grey:active {-webkit-box-shadow:0 2px 0 0 #394756;top:2px;}
.btn.red {background-color:#f04747;-webkit-box-shadow:0 4px 0 0 #d03030;}
	.btn.red:hover {background-color:#f15959;}
	.btn.red:active {-webkit-box-shadow:0 2px 0 0 #d03030;top:2px;}
aside .btn.blue { border-color:#00a5c8;}

.selector { position: relative; height: 35px; margin-bottom: 10px; }
.selector ul { background: #313841; color: #FFFFFF; cursor: pointer; border: 2px solid #515f6f; border-radius: 2px; font-weight: 600; list-style: none; left: 0; margin: 0; padding: 0 0 0 0; position: absolute; right: 0; top: 0; }
.selector ul li { padding: 7px 15px 7px 30px; white-space: nowrap; }
.selector ul li:not(.selected) { display: none; }
.selector ul:hover { background: #515f6f; z-index: 99; }
.selector ul:hover li:not(.selected) { display: block; }
.selector ul:hover li:hover:not(.category) { background-color: rgba(255, 255, 255, 0.2); }

.selector .visualization li { background: url('/images/sprite.png') no-repeat 5px -205px; }
.selector .visualization:hover li { background-position: 5px -285px; }

.selector .datasource li { background: url('/images/sprite.png') no-repeat 5px -245px;}
.selector .datasource:hover li { background-position: 5px -325px; }

#autocomplete { background: #515f6f; color: #FFF; font-weight: bold; list-style: none; margin: 30px 0 0 0; padding: 0; position: absolute; z-index: 99; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
#autocomplete li { padding: 5px 10px; border-bottom: rgba(255, 255, 255, 0.2) 1px solid; overflow: hidden; }
#autocomplete li:last-child { border-bottom: 0; }
#autocomplete li:hover { background: rgba(255, 255, 255, 0.2); cursor: pointer; }

/* Overlay */
#overlay { background: rgba(0,0,0,0.85); bottom: 0; left: 0; position: absolute; right: 0; top: 0; z-index: 99; }
#popup { background: #313841; border-radius: 5px; color:white; left: 50%; margin-left: -200px; position: absolute; top: 50px; width: 360px;}
#popup .header { position: relative; overflow: hidden;background:#1c242b;height:30px;padding:5px 0 5px 10px;}
	#popup .header h1 {line-height:30px;margin:0;}
#popup .close { background: url('/images/sprite.png') no-repeat 0 -432px; cursor: pointer; float: right; display:block; height: 20px; width: 20px; position:absolute; top:10px; right: 10px; }
#popup .close:hover { background: url('/images/sprite.png') no-repeat 0 -452px; }
#popup .form { padding: 20px; font-size: 12px; color: white;}
#popup .form.linechart { padding: 0; }

#popup .btn.grey {margin-bottom:10px;}

#popup .header .glyph { width:32px; height:32px; display:inline-block;}
#popup .header .glyph.new-vis { background: url(/images/header-new-vis.png) no-repeat;}
#popup .header .glyph.data-source { background: url(/images/header-data-source.png) no-repeat;}

#popup .manageDataSource { padding:20px; }

#popup .datasource { list-style: none; margin: 0; padding: 0;}
#popup .datasource li { position: relative; padding:5px 5px 5px 35px;}
#popup .datasource.currentlist { margin-bottom: 20px; }
#popup .datasource.currentlist li { padding:5px;}
#popup .datasource.currentlist li:nth-child(odd) { background: #212930; }
#popup .datasource.currentlist li:hover { background:#515f6f; }
#popup .datasource li .name { }
#popup .datasource li .glyph { display:block; width:20px; height:20px; background:red;float:left; position:absolute; top:3px;}
#popup .datasource li .glyph:hover { cursor: pointer; }
#popup .datasource li .toggle.start { background: url(/images/sprite.png) no-repeat 0 -472px; right:60px; }
#popup .datasource li .toggle.start:hover { background: url(/images/sprite.png) no-repeat -20px -472px; right:60px; }
#popup .datasource li .toggle.stop { background: url(/images/sprite.png) no-repeat 0 -492px; right:60px; }
#popup .datasource li .toggle.stop:hover { background: url(/images/sprite.png) no-repeat -20px -492px; right:60px; }
#popup .datasource li .edit { background: url(/images/sprite.png) no-repeat 0 -512px; right:30px; }
#popup .datasource li .edit:hover { background: url(/images/sprite.png) no-repeat -20px -512px; right:30px; }
#popup .datasource li .delete { background: url(/images/sprite.png) no-repeat 0 -532px; right:0; }
#popup .datasource li .delete:hover { background: url(/images/sprite.png) no-repeat -20px -532px; right:0; }

.deleteTile {position:absolute;bottom:24px;left:20px;}
	.deleteTile .btn {padding:0 20px;}

/* LineGraph */
.linegraph .yaxis path { stroke-width: 1px; stroke: #2f3941; fill: none; shape-rendering: crispEdges; }
.linegraph .xaxis path { display: none; }
.linegraph .yaxis text, .linegraph .xaxis text {
	fill: #515f6f;
	font-weight: 600;
}
.linegraph .xaxis line { stroke-width: 1px; stroke: #2f3941; fill: none; shape-rendering: crispEdges; }

/* Legend */
.legend { background: rgba(255,255,255, 0.4); position: absolute; top: 40px; right: 10px; padding: 10px; border-radius: 3px; }
.legend .label { border-left: 5px solid; margin-bottom: 5px; padding-left: 5px; }

/* Tooltips */
[data-tip] { position:relative;  }
[data-tip]:before { content:''; display:none; border:5px solid #1a1a1a; border-top-color:#1a1a1a; border-right-color:transparent; border-bottom-color:transparent; border-left-color:transparent; position:absolute; top:-7px; left:10px; z-index:9999; font-size:0; line-height:0; width:0; height:0; }
[data-tip]:after { display:none; content:attr(data-tip); position:absolute; top:-35px; left:0; padding:5px 8px; background:#1a1a1a; color:#fff; z-index:9999; font-size:14px; height:18px; line-height:18px; -webkit-border-radius: 3px; white-space:nowrap; word-wrap:normal; }
[data-tip]:hover:before, [data-tip]:hover:after { display:block;}

/* Pie Tooltip */
#tooltip { background: #1a1a1a; color: #FFFFFF; padding: 5px 8px; position: absolute; z-index: 99; font-size:14px; height:18px; line-height:18px; -webkit-border-radius: 3px; white-space:nowrap; word-wrap:normal; }




/* Specific glyphs */
#share {background-image:url(/images/share.png);background-position:10px;background-repeat:no-repeat;padding-left:40px;}
#importExport {background-image:url(/images/transfer.png);background-position:10px;background-repeat:no-repeat;padding-left:40px;}
.deleteTile .btn {background-image:url(/images/delete.png);background-position:10px;background-repeat:no-repeat;padding-left:40px;}

input#url {border:0;padding:10px;margin-top:24px;background:#515f6f;color:white;-webkit-box-sizing: border-box;width:100%;}

.exportOption {margin-bottom:20px;}