<div class="linechart">
	<div class="field">
		<label for="x">X Axis</label>
		<input type="text" placeholder="X Axis, e.g. Time" class="axis element" name="x" value="<%= x %>" />
	</div>

	<% if (series.length > 0) { %>
		<% _.each(series, function (y, count) { %>
			<div class="field">
				<label for="y(<%= count+1 %>">Y Axis (<%= count+1 %>)</label>
				<input type="text" placeholder="Series <%= count+1 %>" class="axis element series" name="y<%= count+1 %>" value="<%= y %>" />
			</div>
		<% }) %>
	<% } else { %>
		<div class="field">
			<label for="y1">Y Axis (1)</label>
			<input type="text" placeholder="Series 1" class="axis element series" name="y1" />
		</div>
	<% } %>

	<div class="checkbox">
		<div class="roundedCheckbox">
			<input type="checkbox" name="legend" value="" id="roundedCheckbox" />
			<label for="roundedCheckbox"></label>
		</div>
		<span>Show graph legend</span>
	</div><!--/.checkbox-->


	<div class="addone btn grey" style="margin-top:10px;">Add another series</div>

	<script type="text/javascript">
		$('.linechart .addone').on('click', function () {

			var series = $('.linechart .series'),
				field = $('<div>', {'class':'field'}),
				label = $('<label>', { 'for': 'y' + (series.length + 1)}).html('Y Axis (' + (series.length + 1) + ')'),
				input = $('<input>', {
					'placeholder': 'Series ' + (series.length + 1),
					'class': 'axis element series',
					'type': 'text',
					'name': 'y' + (series.length + 1)
				});

			field.append(label);
			field.append(input);

			$(series[series.length-1]).after(field);
		});
	</script>
</div>
